:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 2rem;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--surface-card);
}

h1 {
  margin-top: 2rem;
}

.vue-component, .web-component {
  padding: 1rem;
  margin: 2rem 0;
}

.vue-component {
  background-color: rgb(26, 26, 79);
}

.web-component {
  background-color: rgb(35, 45, 24);
}
